body{
    box-sizing: border-box;
    margin: 0;
    background-color: darkgray;
}
.body-container{
    background-color: red;
    width: 90%;
    margin: 0 auto;
    min-width: 260px;
    display: flex;
    flex-direction: column;
}
/* GRID LAYOUT OF THE BANNER */
.banner{
    background-color: white;
    padding: 20px;
    max-width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(14, 1fr);
}
.col1{
    grid-column: 1/ 6;
}
.logo-container img{
    width: 100%;
}
.col2{
    margin-top: 5px; 
    grid-column: 10/-1;
    text-align: right;
    font-size: 12px;
    color: rgb(129, 129, 129);
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-gap: 10px;
}
.row2-1{
    margin-right:15px ;
}
.row2-1 .fab{
    margin: 4px;
    color: rgb(19, 19, 65);

}
.row2-2 .fas{
    padding: 0 4px;
}
.row2-2 a{
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: inherit;
    padding: 0 4px;

}
/* END OF GRID LAYOUT FOR BANNER */


/* STYLE FOR NAVBAR */


.small-screen-container{
    display: none;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
}
.small-screen-container .toggle div{
    transition: all 0.3s ease;
    width: 25px;
    height: 3px;
    background-color: rgb(236, 235, 235);
    margin: 5px;
}
.toggle:hover div{
    background-color: rgb(89, 192, 240);
} 
.toggle{
    cursor: pointer;
}
/* pluses */
.navbar .plus{
    color: white;
    cursor: pointer;
    font-size: 20px;
    padding-right:17px ;
    display: none;
}
.navbar .plus:hover{
    color:rgb(89, 192, 240);
}
/* general nav */
.navbar{
    height: 8vh;
    background-color: blue;
    position: relative;
    padding:0;
    margin:0;
}
.navbar li{
    list-style: none;
}
.navbar a{
    text-decoration: none;
    color: white;
}
/* items container */
.navbar .nav-container{
    position: relative;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px;
    margin: 0;
    z-index: 4;
    background-color: black;
}
.nav-items{
    height: 100%;
}
.navbar .nav-container .nav-items .link-container{
    height: 100%;
    padding: 0px 10px;
    font-weight:bold;
    display: flex;
    align-items: center;
}
.nav-container .nav-items .dropitems{
    position: absolute;
    padding: 0px;
    width: 180px;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.3s ease;
    transition: max-height 0.3s ease;
    background-color: rgb(64, 173, 224); 
    z-index: 1;   
}

.dropitems a{
    font-size: 0.8rem;
    padding: 10px;
    display: block;
    text-transform: uppercase;
}


@media screen and (min-width:990px){
    .navbar .nav-container{
        height: 100%;
    }
    .nav-container .nav-items:hover .dropitems{
        max-height: 100vh;
    }
    .navbar .nav-container .nav-items:hover .link-container{
        background-color: rgb(64, 173, 224);
    }
    .dropitems a:hover{
        background-color:rgb(39, 135, 180) ;
    }
}
/* SYTLE FOR NAV ENDS HERE */


/* For the Carousel */
.carousel{
    /* position: relative; */
    height: 70vh;
    width: 100%;
    margin: 0 auto;
    display: block;
}
.carousel__track-container{
    /* border: 1px solid black; */
    background-color: rgb(0, 12, 240);
    max-height: 100%;
    position: relative;
}
.carousel__track{
    padding:0;
    margin: 0;
    height: 100%;
}
/* to make all of slides stay on each other */
.slide{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0; 
}
/* style to merge the text and immages together */
.carousel__item{
    width: 100%;
    height: 100%;
    display: grid;
}
.slide_photo{
   height: 100%;
   background-color: rgb(89, 192, 240);
}
.slide_photo img{
    width: 100%;
    height: auto;
    /* object-fit: cover; */
    color: rgb(236, 235, 235);
   
}
.slide__text{
    width: 100%;
    height: 100%;
    text-align: center;
    box-sizing: border-box;
    color: rgb(236, 235, 235);
    background-color: rgb(89, 192, 240);
    box-sizing: border-box;
}
.slide__text .text{
    padding: 10%;
    font-family: sans-serif;
    line-height: 1.5em;
    font-size: 1.3rem;
    margin: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: left;

}
.slide__text .text a{
    text-decoration: none;
    color: rgb(236, 235, 235);
    border: 1px solid rgb(236, 235, 235);;
    padding: 5px;
    line-height: 1.5em;
    transition: all 1s ease;
}
.slide__text .text a:hover{
    background-color: rgb(236, 235, 235);
    color: rgb(89, 192, 240);
}
@media screen and (min-width:767px){
    .carousel__item{
        grid-template-rows:1fr;
        grid-template-columns: repeat(2, 1fr);
    }
    .carousel__nav{
        grid-template-columns: repeat(7,1fr);
    }
}
@media screen and (max-width:767px){
    .carousel__nav{
        grid-template-columns: 1fr 1fr;
    }
    .carousel__item{
        grid-template-columns: 1fr;
        grid-template-rows: 45% 55%;
    }
}
@media screen and (max-width:479px){
    .carousel__nav{
        grid-template-columns: 1fr;
    }
}
/* style for the left and right button */
.carousel__button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgb(236, 235, 235);
    border: 1px solid rgb(89, 192, 240);
    padding: 10px;
    color: rgb(89, 192, 240);
    outline: none;
    transition: all 0.5s ease;
}
.carousel__button:hover{
    background-color: rgb(89, 192, 240);
    border: 1px solid rgb(236, 235, 235);
    color: rgb(236, 235, 235);
}
.carousel__button--right{
    right: -60px;
}
.carousel__button--left{
    left: -60px;
}


/* for the indication */

.carousel__nav{
    display: grid;
    max-height: 100%;
    background-color: rgba(0, 0, 0, 0.568); 
}
.carousel__indicator{
    border: 0px solid rgba(0, 0, 0, 0.568);
    background-color: transparent;
    color: rgb(236, 235, 235);
    outline: none;
    display: flex;
    justify-content: space-around;
    padding: 10%;
    align-items: center;
}
.current-slide{
    background-color: black;
}
/* the hole */
.carousel__indicator .hole{
    width: 15px;
    height: 15px;
    border:1.5px solid rgb(236, 235, 235);
    border-radius: 50%;
}
.current-slide .hole{
    background-color: rgb(89, 192, 240);
    border-color:rgb(89, 192, 240);;
}