body{
    box-sizing: border-box;
    margin: 0;
    background-color: darkgray;
}
.body-container{
    background-color: white;
    width: 90%;
    margin: 0 auto;
    min-width: 260px;
    display: flex;
    flex-direction: column;
}
/* GRID LAYOUT OF THE BANNER */
.banner{
    background-color: white;
    padding: 20px;
    max-width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(14, 1fr);
}
.col1{
    grid-column: 1/ 6;
}
.logo-container img{
    width: 100%;
}
.col2{
    margin-top: 5px; 
    grid-column: 10/-1;
    text-align: right;
    font-size: 12px;
    color: rgb(129, 129, 129);
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-gap: 10px;
}
.row2-1{
    margin-right:15px ;
}
.row2-1 .fab{
    margin: 4px;
    color: rgb(19, 19, 65);

}
.row2-2 .fas{
    padding: 0 4px;
}
.row2-2 a{
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: inherit;
    padding: 0 4px;

}
/* END OF GRID LAYOUT FOR BANNER */


/* STYLE FOR NAVBAR */


.small-screen-container{
    display: none;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
}
.small-screen-container .toggle div{
    transition: all 0.3s ease;
    width: 25px;
    height: 3px;
    background-color: rgb(236, 235, 235);
    margin: 5px;
}
.toggle:hover div{
    background-color: rgb(89, 192, 240);
} 
.toggle{
    cursor: pointer;
}
/* pluses */
.navbar .plus{
    color: white;
    cursor: pointer;
    font-size: 20px;
    padding-right:17px ;
    display: none;
}
.navbar .plus:hover{
    color:rgb(89, 192, 240);
}
/* general nav */
.navbar{
    /* min-height: 8vh; */
    background-color: blue;
    position: relative;
    padding:0;
    margin:0;
}
.navbar li{
    list-style: none;
}
.navbar a{
    text-decoration: none;
    color: white;
}
/* items container */
.navbar .nav-container{
    position: relative;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px;
    margin: 0;
    z-index: 4;
    background-color: black;
}
.nav-items{
    height: 100%;
}
.navbar .nav-container .nav-items .link-container{
    height: 100%;
    padding: 0px 10px;
    font-weight:bold;
    display: flex;
    align-items: center;
}
.nav-container .nav-items .dropitems{
    position: absolute;
    padding: 0px;
    width: 180px;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.3s ease;
    transition: max-height 0.3s ease;
    background-color: rgb(64, 173, 224); 
    z-index: 1;
}

.dropitems a{
    font-size: 0.8rem;
    padding: 10px;
    display: block;
    text-transform: uppercase;
}

/* SYTLE FOR NAV ENDS HERE */


/* For the Carousel */

.carousel{
    position: relative;
    height: fit-content;
    width: 100%;
    margin: 0 auto;
    display: block;
}
.carousel__track-container{
    background-color: rgb(0, 12, 240);
    height: 100%;
    position: relative;
    overflow: hidden;
}
.carousel__track{
    padding:0;
    margin: 0;
    display: flex;
    height: 100%;

}
/* to make all of slides stay on each other */
.slide{
    width: 100%;
    height: 100%;
    /* position: absolute; */
    top: 0;
    bottom: 0; 
    background-color: rgb(89, 192, 240);
}
/* style to merge the text and immages together */
.carousel__item{
    width: 100%;
    height: 100%;
    display: grid;
}
.slide_photo{
   height: 100%;
   background-color: rgb(89, 192, 240);
}
.slide_photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    color: rgb(236, 235, 235);  
}
.slide__text{
    width: 100%;
    height: 100%;
    text-align: center;
    color: rgb(236, 235, 235);
    background-color: rgb(89, 192, 240);
}
.slide__text .text{
    box-sizing: border-box;
    padding: 10%;
    font-family: sans-serif;
    line-height: 1.5em;
    font-size: 1.5rem;
    margin: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: left;
}
.slide__text .text a{
    text-decoration: none;
    color: rgb(236, 235, 235);
    border: 1px solid rgb(236, 235, 235);;
    padding: 5px;
    line-height: 1.5em;
    transition: all 1s ease;
    text-transform: uppercase;
    white-space: nowrap;
}
.slide__text .text a:hover{
    background-color: rgb(236, 235, 235);
    color: rgb(89, 192, 240);
}

/* for the indication */

.carousel__nav{
    display: grid;
    background-color: rgb(61, 61, 61); 
}
.carousel__indicator{
    border: 0px solid rgba(0, 0, 0, 0.568);
    background-color: transparent;
    color: rgb(236, 235, 235);
    outline: none;
    display: flex;
    justify-content: space-around;
    padding: 10%;
    align-items: center;
}
.current-slide{
    background-color: black;
}
/* the hole */
.carousel__indicator .hole{
    width: 15px;
    height: 15px;
    border:1.5px solid rgb(236, 235, 235);
    border-radius: 50%;
}
.current-slide .hole{
    background-color: rgb(89, 192, 240);
    border-color:rgb(89, 192, 240);;
}

/* END OF STYLE FOR CAROUSEL */

/* For the main part  */
/* the whole main section */
.main{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto 340px;
    padding: 10px;
    font-family: sans-serif ;
}
/* for the introduction section */
.introduction{
    color:rgb(56, 55, 55);
    line-height: 19px;
}
    /* welcome to futa */
.welcome{
    padding-bottom:10px;
    
}
.welcome__heading{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: -5px;
}
.welcome__body{
    text-align: justify;
    font-size: 15px;
}

.vision__heading{
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: -5px;
}
.vision__body{
    text-align: justify;
    font-size: 14px;
}
.mission{
    padding-bottom:10px;
}
.mission__heading{
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: -5px;
}
.mission__body{
    text-align: justify;
    font-size: 14px;
}
.core-values{
    font-size: 14px;
}
.core-values strong{
    text-transform: uppercase;
}

/* for the featured links */
#featured-links{
    color:rgb(90, 69, 69);
    line-height: 19px;
    width: 100%;
}
#featured-links__heading{
    text-transform: capitalize;
    font-size: 30px;
    font-weight: light;
}
#featured-links__links{
    padding:0;
    height: 320px;
    overflow-y: scroll;
}
.featured-links_list-items{
    padding: 8px;
    font-size: 15px;
    border-bottom: 1px solid #ccc;
    list-style: none;
}
.featured-links_list-items a{
    text-decoration: none;
    color:rgb(35, 60, 129);
    text-transform: capitalize;
}

.featured-links_list-items a:hover{
    color:rgb(89, 192, 240);
}
/* End of style for the main */

